/*ESTILOS-INDEX*/

#redesSociales{
    margin-top: 110px;
    margin-bottom: 15px;
    text-align: right;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    a{    
        padding: 5px;   
        background-color: #f2f5f7;     
        opacity: 75%;
        border-radius: 5px;

            &:hover{
            transform: scale(1.2);
        } 
    } 
}
/*Formulario*/

#contacto{
    margin-top: 0px;
    margin-bottom: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.campoContacto{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center; 
    border:2px solid rgb(251, 251, 252);
    background-color: transparent; 
    font: {
        size: 9px;
        family: 'Archivo Black', sans-serif;
    } 
    height: 625px;  
    width: auto;
        
    & .camposRelleno{
        padding: 1rem 3rem 1rem 3rem;
        margin: 1px;
        text-align: center;  
        font: {
            size: 12px;
            family:'Montserrat', sans-serif;
        }   
    }
    
    & textarea{
        padding-top: 5px;
        margin: 2px;
        text-align: center;
        font: {
            size: 12px;
            family:'Montserrat', sans-serif;
        }    
    }
    
    & .checkRelleno{
        color: white;
        margin: 2px;
        font-family:'Montserrat', sans-serif;
        width: 10px;
        height: 10px;    
    }     
 }

.checkbox{
    color: white;
    margin-top: 5px;
    font: {
        size: 10px;
        family:'Montserrat', sans-serif;
    }
}

.checkboxes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botones input{
    margin: 1px;
    padding: 2px;
    background-color: transparent;
    color:white;
    font: {
        size: 10px;
        family:'Montserrat', sans-serif;
    }    
}

/*Texto*/
.parrafo{
    color: rgb(245, 249, 250);
    padding: 5px;
    margin:5px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;    
} 

.cajaParrafo {
    margin-top: 25px;
    margin-bottom: 10px;
    background: linear-gradient(rgb(17, 107, 122),transparent);
    border-radius: 50px;
}

@media (min-width:1568px){
    .parrafo {
       color: rgb(245, 249, 250);
       padding: 5px;
       margin:5px;
    }

    .cajaParrafo {
        transform: translate(0px, -270px);
        background: linear-gradient(rgb(17, 107, 122),transparent);
        border-radius: 50px;
    }
    .textoFijo{
        position: fixed;
    }
}

@media only screen and (min-width: 1440px) and (max-width: 1568px){
    .parrafo {
       color: rgb(245, 249, 250);
       padding: 5px;
       margin:5px;
    }

    .cajaParrafo {
        transform: translate(0px, -175px);
        background: linear-gradient(rgb(17, 107, 122),transparent);
        border-radius: 50px;
    }
    .textoFijo{
        position: fixed;
    }
}

/*ESTILOS ACERCA*/

.cuerpoAcerca{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
        & img{
            margin-top:  20px;
        }
}
.parrafoAcerca h4{    
    margin-top: 20px;
    padding: 10px;
    color: rgb(250, 252, 252);
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
}  

@media (min-width:1440px ) {
    .cuerpoAcerca {
       display: flex;
       flex-direction: row;
       justify-content:center ;
       margin-top:5%;
       margin-bottom: 10%;
       margin-left: 10%;
       margin-right:10%;   
    }
    .parrafoAcerca h4{  
        padding: 5px; 
        margin: 0px 0px 0px 200px;
        text-align: start;
    }
}

/*ESTILOS EXPERIENCIA*/

.tablaExperiencia{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "tabla";   
        &{
        grid-area: tabla;
        }

        & .bordesTabla{
        border: 5px solid #e1e9ee;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        padding: 20px;
        color: #e1e9ee;
        text-align: center;
        }
        &.bordesTabla span{
        color: rgb(165, 238, 243);
        font-family: 'Montserrat', sans-serif;
    }
}

.subtitulo{
    color:#e2e9ee;
    margin: 5% 35% 5% 35%;         
    padding: 2% 10% 2% 10%; 
    font: {
        family: 'Montserrat', sans-serif; 
        size: 17px;  
    }   
    border: 1px solid rgb(85, 107, 110);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;          
}

    @media(min-width:600px){
        .subtitulo{
            font-size: 30px;
            padding: 1%;
            margin-left: 35%;
            margin-right: 35%;
        }


        .tablaExperiencia{
            display:grid;
            margin: 0;
            grid-template-columns: 1fr 2fr 1fr ;
            grid-template-rows: 1fr;
            grid-template-areas: 
            ". tabla .";
                & .tabla {
                    grid-area: tabla;
                }

                & .bordesTabla{
                    color: #e1e9ee; 
                    padding: 20px;
                    border: 5px solid #e1e9ee;
                    text-align: center;
                
                    font: {
                        family:'Montserrat', sans-serif;
                        size: 15px;
                    }
                & span{
                    color: rgb(165, 238, 243);
                    font-family:'Montserrat', sans-serif;
                }

                &  a {
                    text-decoration: none;
                }
            }
        }
    }       
             
/*ESTILOS PROTFOLIO*/

.fondoPantalla{
    background-image: url(../Imagenes/fondoPantallaVertical.jpg);
}

.portfolioCopetes{
    color: rgb(165, 238, 243);
    font: {
        size: 95%;
        family:'Montserrat', sans-serif;
    }
}
/*ESTILOS REEL*/
@media (min-width:1440px ){
    .videoReel {
        height: 75vh;
        width: 75vh;
    }
}
    

