.botonMenu{
    background-color: transparent;
    border: 1px solid rgb(85, 107, 110);
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;    

        &:hover{
        background-color:rgb(3, 174, 180);
        opacity: 100%;
        border-radius: 5px;   
    }
}

.logo:hover{
    transform: scale(1.2);
}

.idioma {
    font-family: 'Montserrat', sans-serif;
}