
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;    
}

body{
    background-image: url(../Imagenes/FONDOPANTALLA.jpg);
    background-size: cover;    
}

@media (max-width:600px){
     body{
        background-image: url(../Imagenes/fondoPantallaVertical.jpg);
        background-size: cover;
    }
}

@import "cuerpo";
@import "footer";
@import "menu";
@import "vars";





